@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

* {
  font-family: 'Yomogi', cursive;
  text-align: center;
  font-weight: 900 !important;
}

.navbar > .container-fluid {
  display: block;
  padding-bottom: 0px;
  line-height: 2px;
  margin-bottom: 0px;
}

h1 {
  margin: 0;
}
.container {
  border: 2px solid black;
  padding: 0;
}
h3 {
  border-bottom: 2px solid black;
  padding: 10px;
}

form {
  font-size: larger;
}
.btn-success {
  margin: 10px;
}

h4 {
  border: 1px solid #ced4da;
}
